Makefile.in
.libs
.deps
.dirstamp
config.*
configure
*.sdf
*.opensdf
*.pdp
*.cache
*.suo
obj
win32
x64


# Object files
*.o
*.lo

# Libraries
*.lib
*.a
*.la

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
